body {
    background: linen;
}

.home-page-buttons{
    width: 75%;
    text-align: center;
}

.home-page-button:hover{
    color: darkslateblue;
    border: 1px solid darkslateblue;
}

.league-table, .contact-form {
    width: 75%;
    margin-left: 15%;
    background: bisque;
}

.choose-season {
    background: bisque;
    font-size: larger;
}

.home-page-card {
    padding: 15px;
    margin: 15px;
    
}