body {
    background: #F0F8FF;
    color: #535399;
}

.home-page-buttons{
    width: 75%;
    text-align: center;
}


.league-table, .contact-form {
    width: 75%;
    color: #535399;
    background: #F0F8FF;
}

.choose-season {
    background: #FFEA9C;
    text-decoration: none;
    color: #535399;
    font-size: larger;
}



.home-page-card {
    text-decoration: none;
    color: #535399;
    padding: 15px;
    margin: 15px;
}

.home-page-card a {
    text-decoration: none;
    color: #535399;
}


.home-page-card:hover{
    color: #535399;
    border: 1px solid #535399;
}

.tooltip-soccer {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: #FFEA9C;
    color: #535399;
    border: solid 1px #535399;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip-weather {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 4px;
    font: 12px sans-serif;
    background: #F0F8FF;
    color: #535399;
    border: solid 1px #535399;
    border-radius: 8px;
    pointer-events: none;
}