{% extends 'base.html' %}

{% block content %}
<div class='container'>

<h2>In Grateful Appreciation</h2>
<p><a href="http://www.football-data.co.uk/englandm.php">Football-Data.co.uk</a>, who supplied all the soccer stats.</p>
<p>The <a href="https://www.ft.com/content/f24cc9d6-72f4-11e9-bf5c-6eeb837566c5">Financial Times</a>, from which original article I took the idea of graphing goal difference against points.</p>
<p>The weather data comes from the <a href="https://data.gov.ie/dataset/rainfall-by-meteorological-weather-station-month-and-statistic/resource/3069f633-513d-4efd-92c7-a6be16ed6b17">Central Statistics Office</a>.
<p><strong>BR</strong>, a sister of Brotherly Love, who christened the enterprise.</p>
</div>

<h3>Source Code</h3>
On <a href="https://github.com/amunnelly/bigfatstats">Github</a>.

{% endblock %}