{% extends 'base.html' %}

{% block content %}
<div class='container'>

<h2>Anthony Munnelly</h2>
<p>
I'm on <a href="https://www.linkedin.com/in/anthonymunnelly/">LinkedIn</a> and I would like a coding job. I crunch numbers and create visualisations out of the remains. I can write web apps like this one. Obviously, I suppose, as I did write this one. I <a href="https://www.irishtimes.com/news/green-and-red-army-pray-for-an-end-to-61-years-of-hurt-1.532527">write a bit</a> of prose too. I respond positively to money.</p>

<h2>In Grateful Appreciation</h2>
<p><a href="http://www.football-data.co.uk/englandm.php">Football-Data.co.uk</a>, who supplied all the soccer stats.</p>
<p>The <a href="https://www.ft.com/content/f24cc9d6-72f4-11e9-bf5c-6eeb837566c5">Financial Times</a>, from which original article I took the idea of graphing goal difference against points.</p>
<p>The weather data comes from the <a href="https://data.gov.ie/dataset/rainfall-by-meteorological-weather-station-month-and-statistic/resource/3069f633-513d-4efd-92c7-a6be16ed6b17">Central Statistics Office</a>.</p>
<p><strong>BR</strong>, a sister of Brotherly Love, who first thought of the name.</p>
<p>Teddy Roland’s excellent biplot for matplotlib (<a href="https://github.com/teddyroland/python-biplot/blob/master/biplot.py">https://github.com/teddyroland/python-biplot/blob/master/biplot.py</a>) was a big help in making this chart.</p>

<h2>Source Code</h2>
<p>On <a href="https://github.com/amunnelly/bigfatstats">Github</a>.</p>

<h2>Contact</h2>
<p>I spread sweetness and light on <a href="https://twitter.com/anspailpin">Twitter</a> every now and again.</p>

</div>
{% endblock %}