{% extends 'base.html' %}

{% block content %}
<div class="container home-page-forms">
<div class="row"></div>
A portfolio site featuring some Python-based data projects. It's not pretty, but it gets the job done - a lot like its author, as it happens.
<a href="#">
<div class="home-page-card basic card">
<h4>Premier League Tables</h4>
Click here to see a table of links to Premier League seasons. Click a season to see the final table for that season.
  </div>
  </a>
<a href="#">
<div class="home-page-card basic card">
<h4>Rainfall Heatmap</h4>
An ironically-named heatmap of monthly rainfall in Ireland, averaged over six weather stations. It rains every bit as much as we think it does.
  </div>
  </a>

<a href="#">
<div class="home-page-card basic card">
<h4>Premier League Graphs</h4>
Click here to see a table of links to Premier League seasons. Click a season to see a scatter plot for each team that was in the Premier League that season, with their total points plotted against their total goal difference.
  </div>
  </a>
<a href="#">
<div class="home-page-card basic card">
<h4>About</h4>
Links, acknowledgements, and thanks.
  </div>
  </a>
</div>
</div>
{% endblock %}