{% extends 'base.html' %}

{% block content %}
<div class="container home-page-forms">
<form  action="chooseTable">
<div class="form-group">
  <button type="submit" id=1 class="btn btn-default btn-lg btn-block home-page-button">Premier League Tables</button>
  </div>
  </form>
<form  action="chooseGraph">
<div class="form-group">
  <button type="submit" id=1 class="btn btn-default btn-lg btn-block home-page-button">Premier League Graphs</button>
  </div>
  </form>
<form  action="contact">
<div class="form-group">
  <button type="submit" id=1 class="btn btn-default btn-lg btn-block home-page-button">Contact</button>
  </div>
  </form>
<form  action="about">
<div class="form-group">
  <button type="submit" id=1 class="btn btn-default btn-lg btn-block home-page-button">About</button>
  </div>
  </form>
</div>
{% endblock %}