{% extends 'baseD3soccer.html' %}

{% block content %}
<div class="container">
  <div class="row">
  <h2>{{ title }}</h1>
  <div id="canvas"></div>
  </div>
  <div class="row">
  {{ teams }}
  	<table class="table table-hover league-table">
		<tr>
			<th>Team</th>
			<th>Points</th>
			<th>Goal Difference</th>
			<th>Goals For</th>
			<th>Goals Against</th>
		</tr>
		{% for team in teams %}
			<tr>
				<td>{{ team[0] }}</td>
				<td>{{ team[1] }}</td>
				<td>{{ team[2] }}</td>
				<td>{{ team[3] }}</td>
				<td>{{ team[4] }}</td>
			</tr>
		{% endfor %}
	</table>

  </div>
</div>
{% endblock %}