{% extends 'baseD3weather.html' %}

{% block content %}
<div class="container home-page-forms">
<div class="row">
<h4>Just how wet is Ireland, really?</h4>

<p>
This a heatmap of the average monthly total at six Irish weather stations over the past sixty-odd years - Belmullet in the west, Valentia in the south, Malin Head in the north, Mullingar in the midlands, and the two airports in the Republic, Shannon and Dublin.
</p>
<p>
Ireland is middling wet, alright.
</p>
</div>
<div id="canvas"></div>
</div>
{% endblock %}